
TZ=
POSTGRES_HOST_PORT=
POSTGRES_SUPERUSER=
POSTGRES_SUPERUSER_PASSWORD=
POSTGRES_DEFAULT_DB=
POSTGRES_INITDB_ARGS=--encoding=UTF8 --locale=C

MOH_FORECASTING_DB=
MOH_FORECASTING_USER=
MOH_FORECASTING_PASSWORD=

SMART_DB=
SMART_USER=
SMART_PASSWORD=

INDICATOR_TRACKING_DB=
INDICATOR_TRACKING_USER=
INDICATOR_TRACKING_PASSWORD=

FP_MNCH_DB=
FP_MNCH_USER=
FP_MNCH_PASSWORD=

BACKUP_DATABASES=
BACKUP_SCHEDULE=17 2 * * *

BACKUP_KEEP_DAYS=7
BACKUP_KEEP_WEEKS=4
BACKUP_KEEP_MONTHS=6
BACKUP_SUFFIX=.sql.gz

PGADMIN_HOST_PORT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
